@import "mixin";

.faq-hero {
    @include adaptiv-value("padding-top", 100, 38, 1);
    @include adaptiv-value("padding-bottom", 100, 38, 1);
    background-image: url("/images/home/home-img-03.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &__container {
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__icon {
    }

    &__title {
        color: #020513;
        text-align: center;
        font-family: "Gilroy", sans-serif;
        @include adaptiv-value("font-size", 64, 38, 1);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        color: #020513;
        font-family: "Gilroy", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.faq-main {
    @include adaptiv-value("padding-top", 40, 32, 1);
    @include adaptiv-value("padding-bottom", 100, 38, 1);
    &__container {
    }

    &__body {
        max-width: 800px;
        margin: 0 auto;
    }

    &__row {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 96, 48, 1);
        }
    }

    &__title {
        background: #f6f6f6;
        padding: 12px 24px;

        color: #020513;
        text-align: center;
        font-family: "Gilroy", sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 24px 0;
    }

    &__content {
    }

    &__accordion-btn {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #020513;
        font-family: "Gilroy", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        svg {
            transition: all 0.3s ease 0s;
        }

        &._active {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__accordion {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__wrapper {
        padding: 0 24px 24px 24px;
        color: #4f515a;
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
