@import "mixin";

.header {
    border-bottom: 1px solid #e4e4e4;
    &__container {
    }

    &__body {
    }

    &__row-01 {
        background-color: #f2f1f6;
        padding: 12px 0;

        @media(max-width: 767px) { 
            display: none;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    &__col-01 {
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__contact {
    }

    &__contact-link {
        color: #020513;
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.3s ease 0s;
        &:hover {
            color: #ff5900;
        }
    }

    &__col-02 {
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__social {
    }

    &__social-link {
        svg {
            path {
                transition: all 0.3s ease 0s;
            }

            &:hover {
                path {
                    fill: #ff5900;
                }
            }
        }
    }

    &__row-02 {
        padding: 24px 0;
    }

    &__col-03 {
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 8px;
        .wrapper {
            display: flex;
            flex-direction: column;
            .title {
                color: #020513;

                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .subtitle {
                color: #020513;
                font-family: "Gilroy", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                @media(max-width: 767px) { 
                    display: none;
                }
            }
        }
    }

    &__col-04 {
    }

    &__col-05 {
    }

    &__menu-btn { 
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 24px;
        height: 24px;
        @media(min-width: 768px) { 
            display: none;
        }
    }

    &__sssistance {
        display: flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        background-color: #ff5900;

        color: #FFF;
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: all 0.3s ease 0s;
        &:hover { 
            background-color: #020513;
        }

        @media(max-width: 767px) { 
            display: none;
        }
    }
}
