.label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.error {
  color: #FF3A3A;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.contentDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.contentDialogInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 12px;

  h3 {
    color: #020513;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    color: #020513;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.dialogBtn {
  background: #FF5900;
  padding: 16px 32px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.areaError {
  margin-top: 8px;
  margin-left: 30px;
  background: rgba(255, 58, 58, 0.15);
  padding: 8px;
  color: #FF3A3A;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}